/* about page */
.about-me {
  padding: 1rem;
  width: 35rem;
  border-left: 5px white solid;
  border-right: 5px white solid;
  /* border-radius: 1rem; */
}
.about-me-panel {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  justify-items: center;
  padding: 2rem;
  margin: auto;
  background-color: #000000;
  /* border-radius: 1rem; */
  width: 40rem;
}
.about-me-pic {
  border-radius: 1rem;
  user-select: none;
}

#MePic2 {
  max-width: 200px;
}

/* Container for image of myself */
.img-container {
  position: relative;
}
.img-container:after {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99;
}

img { user-select: none; }

.interests {
  color: #F4F6E9;
  list-style: none;
  list-style-type: '> ';
  font-weight: bold;
  display: inline;
  font-size: 1rem;
}

h2 {
  color: #F4F6E9;
  padding: 0;
  margin: 0;
}

/* Mobile */
@media screen and (max-width: 730px) {
  .about-me {
    font-size: 0.75rem;
    width: auto;
  }
  .about-me-panel {
    width: auto;
    padding: 1rem;
  }
  .about-me-pic {
    width: 125px;

  }
  .interests {
    font-size: 0.75rem;
  }
  .page-title {
    font-size: 2rem;
  }
}
