/* about page */
.about-me {
  padding: 1rem;
  width: 35rem;
  border-left: 5px black solid;
  border-right: 5px black solid;
  border-radius: 1rem;
}
.about-me-panel {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  justify-items: center;
  padding: 2rem;
  margin: auto;
  box-shadow: 6px 4px 25px 5px rgba(0,0,0,0.75);
  background-color: #8B2C32;
  border-radius: 1rem;
  width: 40rem;
}
.about-me-pic {
  border-radius: 1rem;
}

/* Mobile */
@media screen and (max-width: 730px) {
  .about-me {
    font-size: 0.75rem;
    width: auto;
  }
  .about-me-panel {
    width: auto;
    justify-items: start;
    padding: 1rem;
  }
  .about-me-pic {
    width: 150px;
  }
}
