/* contact page */
.contact-info {
  padding: 1rem;
}
.contact-subtitle {
  color: #F4F6E9;
  padding-left: 1rem;
}
.contact-brackets {
  border-left: 5px black solid;
  border-right: 5px black solid;
  border-radius: 1rem;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
}

.contact-card {
  display: block;
  background-color: #4B8256;
  padding: 2rem;
  margin: auto;
  border: 5px black solid;
  border-radius: 1rem;
  width: 35rem;
}

#megaphone {
  width: 100px;
  justify-self: end;
}

.social-media-icon {
    padding-left: 0.5rem;
    padding-right: 0;

}
#linkedin, #github, #email, #twitter {
  font-size: 5rem;
}
#linkedin {
  color: #0077B5;
}
#github {
  color: #333;
}
#email {
  color: #c71610;
}
#twitter {
  color: #00aced;
}

/* Mobile */
@media screen and (max-width: 470px) {
  .contact-card {
    padding: 1rem;
  }
  .contact-info {
    font-size: 0.75rem;
    width: auto;
  }
  #megaphone {
    width: 50px;
    justify-self: end;
  }
  .contact-brackets {
    display: block;
  }
  #linkedin, #github, #email, #twitter {
    font-size: 2.5rem;
  }
  .contact-subtitle {
    font-size: 1rem;
  }
}
@media screen and (max-width: 650px) {
  .contact-card {
    width: auto;
  }
}
