/* Header */
.page-title {
	color: white;
	text-align: center;
	font-size: 3rem;
	margin: auto;
	width: 100%;
	padding: 1rem 0 1rem 0;
	/* position: absolute; */
}

.topbar {
	margin-top: 1rem;
}

html { scroll-behavior: smooth; }

.divider {
	border-top: 5px white solid;
}

/* Navbar */
.navbar {
	padding-bottom: 1rem;
	border-bottom: white 5px solid;
}

.full-name-logo {
	user-select: none;
}

.full-name-logo::before {
	padding-left: 3rem;
	content: "{";
	font-size: 3rem;
	color: white;
}

.full-name-logo::after {
	content: "}";
	font-size: 3rem;
	color: white;
}

.name-logo {
	color: #35BDB9;
}

.name-logo2 {
	margin-left: -0.5rem;
	color: #FFDB58;
}

.name-logo:hover {
	color: #35BDB9;
}

.name-logo2:hover {
	color: #FFDB58;
}

.name-logo,
.name-logo2 {
	font-size: 3rem;
	user-select: none;
}

.social-media-pill {
	font-size: 3rem;
	padding-left: 2.25rem;
	user-select: none;
}

.social-media-icon {
	text-decoration: none;
	padding-right: 1rem;
}

.social-media-icon>i {
	color: white;
	font-size: 2.5rem;
	transition: transform .1s ease;
}

.social-media-icon>i:hover {
	transform: scale(1.2);
}

.social-media-icon>i:active {
	transform: scale(1);
}

.navbar-pill {
	text-align: right;
	float: right;
	padding-right: 1rem;
}

.nav-li {
	list-style: none;
	display: inline;
}

.nav-item {
	padding-left: 1rem;
	padding-right: 1rem;
	font-size: 2rem;
	color: #35BDB9;
}

.nav-item-selected {
	padding: 5px 10px 5px 10px;
	font-size: 2rem;
	background-color: #111;
	border-radius: 50%;
	color: #FFDB58;
}

.nav-item:hover,
.nav-item-selected:hover {
	background-color: #111;
	color: #FFDB58;
}


/* Main body */
.page-body {
	margin-top: 0.25rem;
}

header,
body {
	font-family: 'Roboto', sans-serif;
	padding: 0;
	margin: 0;
}

p {
	color: #F4F6E9;
}

body {
	background-color: #111;
}

img {
	user-select: none;
}

.DB-Logo {
	height: 150px;
	border-radius: 50%;
	transition: all .1s;
	border: #35BDB9 solid 3px;
}

a {
	color: #FFDB58;
	text-decoration: none;
	position: relative;
    overflow: hidden;
}
a:hover {
	color: #35BDB9;
}
a::before {
	position: absolute;
	content: attr(data-content);
	width: 0;
	color: #35BDB9;
	text-decoration: underline;
	white-space: nowrap;
	overflow: hidden;
	transition: width 300ms ease;
}
a:hover::before {
	width: 100%;
}

.projects {
	display: grid;
	grid-template-columns: auto auto;
	grid-template-rows: auto;
}

.project-logo {
	height: 150px;
	border-radius: 50%;
	transition: all .1s;
	border: #35BDB9 solid 3px;
	object-fit: contain;
}
#badlion-logo {
	border: none;
	border-radius: 0;
}

.project-logo:hover {
	transform: scale(1.1);
}

.project-card {
	background-color: #1f1f1f;
	padding: 2rem;
	margin: 1rem;
	width: 35rem;
	border: 2px solid #35BDB9;
	border-radius: 25px;
	object-fit: contain;
	box-shadow: rgba(0, 0, 0, 0.9) 0px 5px 15px;
}


/* Making cards centered */
.project-card:nth-child(odd) {
	justify-self: end;
}

.project-card:nth-child(even) {
	justify-self: start;
}

.project-title {
	font-size: 1.5rem;
	font-weight: bold;
}

.project-subtitle {
	padding-left: 1rem;
	padding-right: 1rem;
	border-left: 5px #35BDB9 solid;
	border-right: 5px #35BDB9 solid;
}

.project-tech {
	float: right;
	font-weight: bold;
	list-style-type: '> ';
	color: #F4F6E9;
}

.project-video>img {
	width: 100%;
}

.flip-button,
.flip-button-back {
	float: right;
    font-size: 1.5rem;
    border-radius: 50%;
    height: 39px;
    border: none;
    padding-top: 4.5px;
}

.flip-button {
	margin-left: 1rem;
}

.flip-button:hover, .flip-button-back:hover {
	cursor: pointer;
}

.flip-button-back {
	/* transform: rotateY(180deg); */
	opacity: 1;
	margin-bottom: 1rem;
}

.project-card-back {
	/* transform: rotateY(180deg); */
	opacity: 1;
	display: none;
}

/* Extra Content */
.extra-content {
	display: grid;
	grid-template-columns: auto !important;
	grid-template-rows: auto;
}
#twitter-feed {
	max-width: 45rem;
	margin: 20px auto;
}
#twitter-widget-0 {
	padding: 3px!important;
  border: 2px solid #35BDB9!important;
  border-radius: 16px!important;
}
@media screen and (max-width: 750) {
	#twitter-feed {
		max-width: 100%;
		margin: 20px auto;
	}
}

/* Live Projects Logo SVG */
.logo-svg {
	border: none;
}

@media (prefers-reduced-motion: no-preference) {
	.logo-svg {
		animation: logo-svg-spin infinite 2s linear;
	}
}

@keyframes logo-svg-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}


/* Restricting dimensions specific videos */
#NoteTakRvideo {
	max-height: 500px;
	max-width: 281px;
}

#GunmanGavinvideo,
#Casinodanovideo {
	max-height: 700px;
	max-width: 398px;
}


/* Mobile Project Items*/
@media screen and (max-width: 1330px) {
	.projects {
		display: grid;
		grid-template-columns: auto;
		grid-template-rows: auto;
	}
	.project-card {
		width: auto;
		padding: 1rem;
	}
}

@media screen and (max-width: 400px) {
	.project-title {
		font-size: 1.25rem;
		font-weight: bold;
	}
	.project-subtitle {
		font-size: 0.75rem;
	}
}

@media screen and (max-width: 768px) {
	.header-svg {
		width: 100px;
		height: 100px;
	}
	.project-logo {
		width: 100px;
		height: 100px;
	}
	#badlion-logo {
		width: 100px;
		height: 110px;
	}
}

@media screen and (max-width: 524px) {
	.page-title {
		font-size: 2rem;
		padding: 0;
	}
	.header-svg {
		height: 50px;
		width: 75px;
	}
	.project-logo {
		width: 75px;
		height: 75px;
	}
	#badlion-logo {
		height: 80px;
		width: 75px;
	}
}

.about-me {
	padding: 2px;
}
/* Mobile About Me */
@media screen and (max-width: 730px) {
	.about-me {
	  font-size: 0.75rem;
	  width: auto;
	}
  }

/* Tech Stack */
.tech-stack {
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: auto;
	justify-items: center;
	padding: 2rem;
	margin: 2rem;
	background-color: rgba(0,0,0,0.75);
	border: #35BDB9 solid 2px;
	width: 45rem;
	border-radius: 25px;
	box-shadow: rgba(0, 0, 0, 0.9) 0px 5px 15px;
}

h2 {
	color: white;
}

/* Footer */
footer {
	padding: 1rem;
	margin: 2rem;
	border-bottom: 5px solid white;
	border-radius: 25px;
}

/* Buttons */
.btn {
	border: none;
	background-color: #35BDB9;
	color: white;
	cursor: pointer;
	padding: 5px 15px 5px 15px;
	border-radius: 16px;
	transition: 0.2s linear;
}
.btn:hover {
	transform: scale(1.1);
	color: black;
	background-color: #FFDB58; 
	transition: 0.2s linear;
}
.btn:active {
	transform: scale(1);
	color: white;
	background-color: #35BDB9; 
	transition: 0.2s linear;
}
.btn:focus {
	outline: none;
}

/* Sorting card */
.sorting-card {
	max-width: 20rem;
	width: auto;
	text-align: center;
	display: block;
	background-color: #1f1f1f;
	padding: 1rem;
	margin: 1rem auto;
	border: 2px solid #35BDB9;
	border-radius: 25px;
	line-height: 30px;
	box-shadow: rgba(0, 0, 0, 0.9) 0px 5px 15px;
}
	

/* Scroll bar */
::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}

::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px white;
	border-radius: 25px;
}

::-webkit-scrollbar-thumb {
	background: white;
	border-radius: 25px;
}

::-webkit-scrollbar-thumb:hover {
	background: #35BDB9;
}

/* Scroll Button */
#scrollbtn {
	display: none;
	position: fixed;
	bottom: 45px;
	right: 30px;
	z-index: 99;
	font-size: 2rem;
	border: none;
	outline: none;
	color: #FFDB58;
	cursor: pointer;
	padding: 5px 15px 5px 15px;
	border-radius: 16px;
	background: none;
  }

/* Mobile Navbar*/
@media screen and (max-width: 764px) {
	.navbar {
		padding: 0.5rem;
	}
	.tech-stack {
		width: auto;
		padding: 1rem;
	}
}

@media screen and (max-width: 613px) {
	.nav-li {
		display: block;
		padding-bottom: 0.25rem;
	}
}

@media screen and (max-width: 516px) {
	.full-name-logo {
		float: center;
		padding: 0;
	}
	.full-name-logo::before,
	.full-name-logo::after {
		padding: 0;
		font-size: 2rem;
	}
	.name-logo,
	.name-logo2 {
		font-size: 2rem;
	}
	.social-media-icon>i {
		font-size: 2rem;
	}
	.social-media-pill {
		padding-left: 0.5rem;
	}
	.navbar-pill {
		text-align: center;
	}
}

@media screen and (max-width: 516px) {
	.social-media-icon {
		padding-right: 0rem;
	}
}

@media screen and (max-width: 613px) {
	.nav-li {
		display: block;
		padding-bottom: 0.25rem;
	}
}

@media screen and (max-width: 430px) {
	.sorting-card {
		margin:  1rem
	}
}


@media screen and (max-width: 387px) {
	.btn {
		margin-bottom: 0.5rem;
	}
}

.badges img {
	height: 40px;
}
.badges {
    text-align: center;
}