/* Header */
.page-title {
  color: #E78746;
  text-align: center;
  font-size: 3rem;
  letter-spacing: 0.25rem;
}

/* Navbar */
.navbar {
  padding-bottom: 1rem;
  border-bottom: black 5px ridge;
  border-radius: 1rem;
}
.full-name-logo::before {
  content: "{";
  font-size: 3em;
}
.full-name-logo::after {
  content: "}";
  font-size: 3em;
}
.name-logo {
  -webkit-text-fill-color: #35BDB9;
}
.name-logo2 {
  margin-left: -0.5rem;
  -webkit-text-fill-color: #E78746;
}
.name-logo, .name-logo2 {
  font-size: 3rem;
  -webkit-text-stroke-color: black;
  -webkit-text-stroke-width: 2.5px;
  -webkit-user-select: none;
  user-select: none;
}
.navbar-pill {
  border: 5px solid black;
  border-radius: 1rem;
  float: right;
}
.nav-item {
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 3rem;
}
.nav-item-selected {
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 3rem;
  background-color: #272131;
  border-radius: 1rem;
  color: #E78746;
}
.nav-item:hover {
  background-color: #272131;
  border-radius: 1rem;
}

/* Main body */
header, body {
  font-family: Arial, sans serif;
}

p { color: #F4F6E9; }
body { background-color: #222; }

a {
  color: #003C71;
  text-decoration: none;
}
a:hover { color: #E78746; }

.projects {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
}
.project-logo {
  width: 250px;
}
.project-card {
  background-color: #4B8256;
  padding: 2rem;
  margin: 1rem;
  width: 35rem;
  border: 5px black solid;
  border-radius: 1rem;
}

/* Making cards centered */
.project-card:nth-child(odd) { justify-self: end; }
.project-card:nth-child(even) { justify-self: start; }
.project-title {
  font-size: 1.5rem;
  font-weight: bold;
}
.project-subtitle {
  padding-left: 1rem;
  padding-right: 1rem;
  border-left: 5px black solid;
  border-right: 5px black solid;
  border-radius: 1rem;
}
.project-tech {
  float: right;
  font-weight: bold;
}
.project-tech > li {
  color: #F4F6E9;
}

/* Footer */
footer {
  padding: 1rem;
}
.social-media-icon {
  text-decoration: none;
  padding-right: 1rem;
}
.social-media-icon > i {
  color: #E78746;
  font-size: 4rem;
  transition: all .1s;
}
.social-media-icon > i:hover {
  transform: scale(1.1);
}

/* Scroll bar */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #4B8256;
  border-radius: 1rem;
}
::-webkit-scrollbar-thumb {
  background: #272131;
  border-radius: 1rem;
}
::-webkit-scrollbar-thumb:hover {
  background: #E78746;
}

/* Smaller sizes - laptops */
@media screen and (max-width: 1330px) {
  .projects {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
  }
  .project-card {
    width: auto;
  }
}

/* Mobile */
@media screen and (max-width: 400px) {
  /* Projects */
  .project-logo {
    width: 200px;
  }
  .project-title {
    font-size: 1.25rem;
    font-weight: bold;
  }
  .project-subtitle {
    font-size: 0.75rem;
  }
  .social-media-icon > i {
    font-size: 2.5rem;
  }
}

/* Mobile Navbar*/
@media screen and (max-width: 930px) {
  .navbar {
    padding-bottom: 2rem;
  }
  .nav-item, .nav-item-selected {
    font-size: 2rem;
  }
}
@media screen and (max-width: 778px) {
  .nav-item, .nav-item-selected {
    font-size: 1rem;
  }
}
@media screen and (max-width: 516px) {
  .full-name-logo {
    float: center;
  }
  .navbar-pill {
    float: left;
    width: 90vw;
  }
  .name-logo, .name-logo2 {
    font-size: 2rem;
    -webkit-text-stroke-width: 1.5px;
  }
}
